
@{
    ViewBag.Title = "DisplaySavedRoute";
}


<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Views/Shared/BackgroundImageCSSFile.css" />
    <script src="~/Views/Shared/SharedJSFile.js" type="text/javascript"></script>

</head>

<body>
    <img src="~/src/world-map.png" id="bg" alt="World Map">
    <canvas id="myCanvas"></canvas>

    <script type="text/javascript">
        document.title = "Saved Route";

        var i = 0;
        var fileName = '@Model.fileName';
        var interval = parseInt('@Model.interval');

        var t=setInterval(start,1000.0 / interval);

        function start(){
        i++;

        var input = {
            vars: `${fileName},${i}`,

        };

        $.get("@Url.Action("GetCoordinates", "data")", input).done(function (data) {

            var xmlDoc = $.parseXML(data),
            $xml = $(xmlDoc),
            Lon = $xml.find("Lon").text();
            Lat = $xml.find("Lat").text();


            if(Lon.localeCompare("EOF") == 0 || Lat.localeCompare("EOF") == 0) {
                // done
                alert("done!");
                clearInterval(t);
            } else {
                drawCircle(parseInt(Lon), parseInt(Lat), "myCanvas");
            }
        });
            }
    </script>

</body>
</html>