
@{
    ViewBag.Title = "BaseDisplay";
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Views/Shared/BackgroundImageCSSFile.css" />
</head>

<body>
    <img src="~/files/world-map.png" id="bg" alt="World Map">

    <h2>Display Location</h2>
</body>

</html>