
@{
    ViewBag.Title = "DisplayLiveRoute";
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Views/Shared/BackgroundImageCSSFile.css" />
    <script src="~/Views/Shared/SharedJSFile.js" type="text/javascript"></script>

</head>

<body>
    <img src="~/files/world-map.png" id="bg" alt="World Map">
    <canvas id="myCanvas"></canvas>
   
    <script>

        drawCircle(50,50,"myCanvas");

    </script>

</body>

</html>