
@{
    ViewBag.Title = "DisplayLiveRoute";
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Views/Shared/BackgroundImageCSSFile.css" />
</head>

<body>
    <img src="~/Views/src/world-map.png" id="bg" alt="World Map">


    <canvas id="myCanvas"></canvas>


    <script>var canvas = document.getElementById("myCanvas");
        var context = canvas.getContext("2d");
        context.arc(100, 50, 1, 0, 2 * Math.PI, false);
        context.fillStyle = "#ff6347";
        context.fill();



        </script>

</body>

</html>