
@{
    ViewBag.Title = "BaseDisplay";
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Views/Shared/BackgroundImageCSSFile.css" />
    <script src="~/Views/Shared/SharedJSFile.js" type="text/javascript"></script>

</head>

<body>
    <img src="~/src/world-map.png" id="bg" alt="World Map">
    <canvas id="myCanvas"></canvas>

    <script type="text/javascript">
        document.title = "Static Location";

        var input = {
            vars: "127.0.0.",
        };

        $.get("@Url.Action("GetCoordinates", "data")", input).done(function (data) {

            var xmlDoc = $.parseXML(data),
            $xml = $(xmlDoc),
            Lon = parseInt($xml.find("Lon").text());
            Lat = parseInt($xml.find("Lat").text());
            drawCircle(Lon, Lat, "myCanvas");

        });

    </script>

</body>
</html>