
@{
    ViewBag.Title = "BaseDisplay";
}

<html>
<head>
    <link  href="~/Content/StyleSheet.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/JavaScript.js" type="text/javascript"></script>

</head>

<body>
    <img src="~/src/world-map.png" id="bg" alt="World Map">
    <canvas id="myCanvas"></canvas>

    <script type="text/javascript">
        document.title = "Static Route";

        var ip = '@Model.ip';
        var port = '@Model.port';

        var interval = parseInt('@Model.interval');

        var input = {
            vars: `${ip},${port}`,

        };

        $.get("@Url.Action("GetCoordinates", "data")", input).done(function (data) {

            var xmlDoc = $.parseXML(data),
            $xml = $(xmlDoc),
            Lon = $xml.find("Lon").text();
            Lat = $xml.find("Lat").text();


            if(Lon.localeCompare("EOF") == 0 || Lat.localeCompare("EOF") == 0) {
                // done
                alert("done!");
                clearInterval(t);
            } else {
                drawCircle(parseFloat(Lon), parseFloat(Lat), "myCanvas");
            }
        });

    </script>

</body>
</html>